
.social-media {
    position: fixed;
    top: 20%;
    bottom: 100%;
    width: 2.5rem; /* Adjusted width for icons */
    left: 0;
    transform: none;
    text-align: left; /* Align to the left */
    padding: 1rem; /* Adjusted padding */
}

.MuiIconButton-root {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Add space between icons */
    align-items: flex-start; /* Align to the left */
}

.icon-buttons a {
    font-size: 1.5rem; /* Adjusted font size for better visibility */
    margin-bottom: 1.7rem; /* Added spacing between icons */
    border-radius: 50%; /* Added border-radius for circular shape */
    text-align: center;
    transition: 0.3s;
    color: white; /* Set font color to white */
    text-decoration: none; /* Remove default underline */
}

.icon-buttons a:hover {
    color: #ec1919;
    transform: translateY(-30%); /* Added vertical translation on hover */
}

/* Hide home page link on mobile */
@media (max-width: 768) {  /* 48*16* px*/
    .home-page-link {
        display: none;
    }

    .social-media {
        width: 2.5rem; /* Adjusted width for mobile screens */
    }

    .icon-buttons a {
        font-size: 1.5rem; /* Adjusted font size for mobile screens */
    }
}

/* Adjustments for different screen sizes */
@media (min-width: 769.008px) {
    .social-media {
        top: 20%;
        bottom: 20%;
        width: 2.5rem; /* Adjusted width for desktop screens */
        margin-right: 0rem;
    }

    .icon-buttons a {
        font-size: 1.5rem; /* Adjusted font size for desktop screens */
    }
}
