.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000; /* Set background color to black */
  padding: 10px; /* Add padding for better visibility, adjust as needed */
  text-align: center;
  color: #fff; /* Set text color to white */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  
}
.copyrights,
.developer {
  display: inline-block; /* Make each section inline-block to keep them on the same line */
  margin-bottom: 5px; /* Adjust the margin between the copyright and developer sections */
}

.heart-footer {
  width: 20px; /* Adjust the size of the heart image */
  height: 20px; /* Adjust the size of the heart image */
  margin: 0 5px; /* Add some space between the heart image and the text */
}

@media only screen and (max-width: 600px) {
  /* Add responsive styles for smaller screens */
  .footer {
    padding: 5px; /* Adjust padding for smaller screens */
  }

  .copyrights,
  .developer {
    display: block; /* Change to block for mobile to stack the sections */
  }
}
